{% extends 'layout.html' %}

{% block title %}ERP System{% endblock %}

{% block content %}
<h2>Assignment deletion Wizard!</h2>
<div>
    <table>
        <form action="" method="POST">
            <tr>
                <td>Search assignment by subject</td>
                <td><input type="text" placeholder="enter subject name" ></td>
                <td><button type="submit" style="padding: 5px; border:hidden;">SUBMIT</button></td>
            </tr>
        </form>
    </table>
</div>


{% endblock %}