{% extends 'layout1.html' %}

{% block title %}leave apply{% endblock %}

{% block content %}
<h2>Leave Request Wizard!</h2>
<div> {{ msg }}
    <table>
        <form method="POST">
            <tr>
                <td>Leave from</td>
                <td><input type="text" name="leave_from" id="leave_from" placeholder="yyyy-mm-dd" required></td>
            </tr>
            <tr>
                <td>Leave upto</td>
                <td><input type="text" name="leave_upto" id="leave_upto" placeholder="yyyy-mm-dd" required></td>
            </tr>
            <tr>
                <td>Leave reason</td>
                <td><input type="text" name="leave_reason" id="leave_reason" placeholder="enter leave reason.." required></td>
            </tr>       <!--
            <tr>
                <td>Student id</td>
                <td><input type="text" name="leave_reason" id="leave_reason" placeholder="enter your student id.." required></td>
            </tr>       -->
            <tr>
                <td><span hidden></span></td>
                <td><button type="submit" style="padding: 5px; border:hidden;">SUBMIT</button></td>
            </tr>
        </form>
    </table>
</div>


{% endblock %}