{% extends 'layout1.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}
<h2>Assignments Wizard!</h2>
{% if data %}
<div>
<ul>
{% for tuple in data %}
    <li>
    <table>{{ error }}
        <tr>
            <td>Title:</td>
            <td>{{ tuple[2] }}</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>{{ tuple[9] }}</td>
        </tr>
        <tr>
            <td>Assigned by:</td>
            <td>{{ tuple[8] }}</td>
        </tr>
        <tr>
            <td>Assigned date:</td>
            <td>{{ tuple[3] }}</td>
        </tr>
        <tr>
            <td>Submission date:</td>
            <td>{{ tuple[4] }}</td>
        </tr>
        <tr>
            <td>Instruction:</td>
            <td>{{ tuple[5] }}</td>
        </tr>
        <tr>
            <td>Attachment:</td>
            <td><a href="/login/downloadFile/{{ tuple[0] }}"><button><i class="fa fa-download"></i>{{ "Download File" }}</button></a></td>
        </tr>
    </table>
    <hr>
    </li>
{% endfor %}
</ul>
</div>
{% else %}
<div>
    <b>No assignments available</b>
</div>
{% endif %}
{% endblock %}